#
#
#

# Directories
Data
bin
AAA
LPAM
minIni

# Binaries
Cmd/cmd
Hub/hub
Img/img
Playback/playback
Utils/mkSample
Utils/mkIndex
Tbl/tbl

vars.csv

# Basic extension
*.o
*.d
*.swp

# ctags file
tags

Midget/master
Midget/master.dwarf
Midget/vars.csv
